{
    "username": "cyriac",
    "token": "Get your token from - https://github.com/settings/tokens",
    "root": "5992856",
    "destination": "your gist id",
    "file": "free_email_provider_domains.txt"
}
